.monsterCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 160px;
    height: 220px;

    border: 3px solid var(--colour-border);

    cursor: pointer;
    transition: 0.15s;
}

.monsterCard:hover {
    transform: scale(1.2);
}

.thumbnailBackground, .thumbnailEffect, .thumbnailContainer {
    width: 154px;
    height: 154px;
    
    position: relative;
    top: 0;
}

.thumbnailBackground {
    background-color: var(--colour-thumbnail);

    backdrop-filter: blur(5px);
}

.thumbnailEffect, .thumbnailContainer {
    background-size: cover;
}

.thumbnailEffect {
    opacity: 0;
    filter: blur(10px) saturate(3);

    clip-path: inset(0);
    transition: 0.1s;
}

.monsterCard:hover .thumbnailEffect {
    opacity: 1;
}

.thumbnailContainer {
    position: absolute;
}

.nameContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 154px;
    height: 60px;
    background-color: var(--colour-card);

    padding: 5px;
}

.monsterName {
    text-align: center;
}