.monsterCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 160px;
    height: 220px;
    background-color: var(--colour-border);

    cursor: pointer;
    transition: 0.15s;
}

.monsterCard:hover {
    transform: scale(1.1);
}

.thumbnailBackground, .thumbnailEffect, .thumbnailContainer {
    width: 154px;
    height: 154px;
    
    position: relative;
    top: 0;
}

.thumbnailBackground {
    background-color: var(--colour-bg);
}

.thumbnailEffect, .thumbnailContainer {
    background-image: url('../../assets/thumbs/thumb-001_00.png');
    background-size: cover;
}

.thumbnailEffect {
    clip-path: inset(0);
    transition: 0.15s;
}

.monsterCard:hover .thumbnailEffect {
    filter: blur(10px) saturate(3);
}

.thumbnailContainer {
    position: absolute;
}

.nameContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 154px;
    height: 60px;
    background-color: var(--colour-card);

    padding: 5px;
}

.monsterName {
    text-align: center;
    user-select: none;
}